{% extends 'dashboard/layout.html' %}
{% load currency_filters %}
{% load i18n %}
{% load url from future %}

{% block title %}
    {% trans "PayPal IPN responses" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{% url 'paypal-ipn-list' %}">{% trans "PayPal IPN" %}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">{% trans "Responses" %}</li>
    </ul>
{% endblock %}

{% block headertext %}
    {% trans "PayPal IPN responses" %}
{% endblock %}

{% block dashboard_content %}

    {% if transactions %}
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>{% trans "Transaction ID" %}</th>
                    <th>{% trans "Payment status" %}</th>
                    <th>{% trans "Fraud management filters" %}</th>
                    <th>{% trans "Date message" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for ipn_res in ipn_responses %}
                    <tr>
                        <td><a href="{% url 'paypal-ipn-detail' ipn_res.id %}">{{ ipn_res.transaction_id }}</a></td>
                        <td>{{ ipn_res.payment_status }}</td>
                        <td>{{ ipn_res.fraud_management_filters|default:"-" }}</td>
                        <td>{{ ipn_res.date_created }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "partials/pagination.html" %}
    {% else %}
        <p>{% trans "No IPN responses have been received yet." %}</p>
    {% endif %}

{% endblock dashboard_content %}